@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

html {
  background: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 2.5em;
  padding-top: 1em;
  font-weight: bold;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
}

/* Nav bar styling */

nav {
  background-color: black;
  overflow: hidden;
  line-height: 2em;
}

nav a {
  color: white;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav label {
  display: block;
  cursor: pointer;
  padding: 10px 17px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav-items {
  max-height: 0;
}

#navigation {
  display: none;
}

#navigation:checked ~ .nav-items {
  max-height: 100%;
}

/* Home Page styling */

#selfie {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 5em;
  padding-bottom: 5em;
}

#homepage h1 {
  text-align: center;
}

#homepage header {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

#homepage figcaption {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
}

/* About Page styling */

#aboutpage p {
  text-indent: 2em;
  padding: 1em;
  line-height: 1.6em;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

/* Resume Page styling */

#resumepage article {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-left: 1em;
  padding-right: 1em;
}

#resumepage header {
  text-align: center;
}

#resumepage header ul {
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 1em;
}

#resumepage ul #name {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#resumepage h2 {
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#resumepage h3 {
  font-size: 1.2em;
  line-height: 1.3em;
}

#resumepage p {
  font-size: 1em;
  line-height: 1.3em;
}

#experience li {
  line-height: 1.3em;
  font-size: 0.85em;
  list-style-type: circle;
  padding: 5px;
}

#experience h4 {
  line-height: 1.3em;
}

#skills li {
  font-size: 1em;
  line-height: 1.3em;
}

#skills {
  margin-bottom: 1em;
}

/* Contact Page styling */

#contactpage #contacts {
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
}

#contactpage .href-url:link {
  color: white;
  text-decoration: none;
}

#contactpage .href-url:visited {
  color: white;
  text-decoration: none;
}

/* Media queries */